notebooks/.ipynb_checkpoints
.ipynb_checkpoints
notebooks/__pycache__
.vscode
.PedSilicoICH
notebooks/default
notebooks/test
*.dcm
octave-workspace
MIDA Head Phantom
*.raw
*.air
*.offset
*.dcm
*.nii
*.prep
*.scan
*.json
*.csv
default
*.cfg
__pycache__
*.nrrd
*.nii
src/PedSilicoICH.egg-info